@media (max-width: 84em) {
  .hero {
    max-width: 120rem;
  }

  .heading-primary {
    font-size: 4.4rem;
  }
}

/* Below 1200px (landsacape tablets) */
@media (max-width: 75em) {
  html {
    /* 9px /16px */
    font-size: 56.25%;
  }

  header {
    padding: 0 3rem;
  }

  .nav {
    gap: 3.2rem;
  }

  .hero {
    gap: 4.8rem;
  }

  .buttons {
    gap: 1.5rem;
  }

  .btn {
    padding: 10px 30px;
    font: 1rem;
  }

  h2 .heading-primary {
    font-size: 1.5rem;
  }

  .diet-l li {
    padding-bottom: 15px;
    /* display: flex; */
    font-size: 1.5rem;
    gap: 10px;
  }

  .diet-h {
    font-size: 2rem;
  }

  .meals-wrapper {
    gap: 3.6rem;
  }

  .works {
    font-size: 3rem;
  }
  .heading-primary {
    font-size: 3rem;
  }

  .featured {
    gap: 2.5rem;
  }
  .logos {
    gap: 4rem;
  }
  .logos img {
    height: 2.8rem;
  }
  .meal-title {
    font-size: 1.8rem;
  }
  .meal-attribute {
    gap: 0.5rem;
  }

  .testimonials-container {
    padding: 1.6rem 2.2rem;
  }

  .meal-content {
    padding: 2rem 3rem 3rem 3rem;
  }

  .gallery-image {
    flex-basis: calc(50% - 10px); /* Change the width to 50% for 2 rows */
  }

  .headings {
    justify-content: center;
    text-align: center;
    margin: 0 auto;
  }

  .container {
    padding: 3rem 7rem;
  }

  .taxes-wrapper {
    gap: 2rem;
  }

  .iconss {
    max-width: 1rem;
    font-size: 3.5rem;
  }

  .iconss::after {
    width: 30%;
    padding-bottom: 30%;
    background-color: #fae5d3;
    z-index: -1;
  }

  .iconss::before,
  .iconss::after {
    content: "";
    display: block;
    border-radius: 50%;
    position: absolute;
    top: 13%;
    left: 21%;
    transform: translate(-50%, -50%);
  }
  .article-title {
    font-size: 2rem;
  }

  .cta-form select {
    font-size: 1.5rem;
  }

  .ctn2 {
    gap: 2rem;
  }
}

/* Below 944px (TABLETS) */
@media (max-width: 59em) {
  html {
    /* 8px / 16px = 0.5 = 50% */
    font-size: 50%;
  }

  .hero {
    display: block;
    padding: 0 10rem;
    /* gap:6rem; */
  }
  .hero-img {
    width: 60%;
  }

  .hero-text-box,
  .hero-img-box {
    text-align: center;
    align-items: center;
  }

  .hero-img-box {
    margin-top: 6.4rem;
  }

  .buttons {
    align-items: center;
    justify-content: center;
  }
  .delivered-meals {
    justify-content: center;
    margin-top: 3.2rem;
  }

  .testimonials {
    display: block;
  }

  .gallery {
    padding: 0;
  }

  .gallery-container {
    max-width: 100%;
    gap: 0.9rem;
    justify-content: center;
    /* padding: 2rem 0; */
  }

  .gallery-image {
    flex-basis: calc(16% - 10px);
  }

  .heading-primary {
    text-align: center;
  }
  .h3 {
    text-align: center;
    margin-top: 2rem;
  }

  .iconss::after {
    width: 30%;
    padding-bottom: 30%;
    background-color: #fae5d3;
    z-index: -1;
  }

  .iconss::before,
  .iconss::after {
    content: "";
    display: block;
    border-radius: 50%;
    position: absolute;
    top: 16%;
    left: 19%;
    transform: translate(-50%, -50%);
  }

  .cta {
    /* 3/5 = 60%+ 2/5 = 40% */
    grid-template-columns: 3fr 2fr;
  }
  .cta-form {
    grid-template-columns: 1fr;
  }

  .btn--form1 {
    margin-top: 1.2rem;
  }

  /* mobile navigation */

  .btn-mobile-nav {
    display: block;
  }

  .main-nav {
    background-color: rgba(255, 255, 255, 0.97);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;

    /* Hide navigation */
    /* Allows NO transitions at all */
    /* display: none; */

    /* 1) Hide it visually */
    opacity: 0;

    /* 2) Make it unaccessible to mouse and keyboard */
    pointer-events: none;

    /* 3) Hide it from screen readers */
    visibility: hidden;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3rem;
  }
  .featured {
    gap: 1.5rem;
  }
  .logos {
    gap: 2rem;
  }
  .logos img {
    height: 1.8rem;
  }
  .pricing-section {
    padding: 5.6rem 3rem;
  }

  .sign-up {
    padding: 2px;
    margin-top: 15px;
  }

  .section-cta {
    padding: 4.8rem 2rem 12.8rem;
  }
  .footer {
    padding: 5rem 2rem;
  }
}

/* BELOW 704PX (SMALLER TABLET) */
@media (max-width: 44em) {
  .meals-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .card {
    flex-basis: calc(40% - 10px);
  }

  .diet-list {
    justify-content: center;
    align-items: center;
    padding-left: 10rem;
  }

  .iconss::after {
    width: 30%;
    padding-bottom: 30%;
    background-color: #fae5d3;
    z-index: -1;
  }

  .iconss::before,
  .iconss::after {
    content: "";
    display: block;
    border-radius: 50%;
    position: absolute;
    top: 11%;
    left: 24%;
    transform: translate(-50%, -50%);
  }
  .iconss {
    font-size: 2.5rem;
  }

  #select-where {
    font-size: 1.2rem;
  }

  .grid--footer {
    grid-template-columns: repeat(6, 1fr);
  }
  .nav-col {
    grid-row: 1;
    grid-column: span 2;
    margin-bottom: 3.2rem;
  }

  .logo-col,
  .address-col {
    grid-column: span 3;
  }

  /* .grid {
    display: grid;
    column-gap: 3.4rem;
    row-gap: 3.6rem;
  } */
}

@media (max-width: 34em) {
  /* Below 544px (phones) */

  .grid {
    row-gap: 4.8rem;
  }
  .heading-primary {
    font-size: 4.8rem;
  }

  .section-hero {
    padding: 2.4rem 0 6.4rem 0;
  }

  .hero-description {
    margin-bottom: 3rem;
    font-size: 2.4rem;
  }

  .hero {
    padding: 0 3.2rem;
  }

  .buttons {
    padding: 0 1rem;
  }
  .btn,
  .btn:link,
  .btn:visited {
    margin-bottom: 1rem;
    padding: 2.4rem 1.6rem;
  }

  .logos img {
    height: 1.2rem;
  }

  #how-it-works {
    padding: 2.3rem 0;
  }

  .hero-img {
    width: 80%;
  }

  .row {
    display: block;
  }

  .meals-wrapper {
    display: block;
    justify-content: center;
  }
  .card {
    margin-bottom: 4.8rem;
  }
  .pricing-plan {
    display: block;
  }
  .starter {
    margin-bottom: 4.8rem;
  }
  .taxes-wrapper {
    display: block;
  }

  .row:nth-child(2) {
    display: flex;
    flex-direction: column-reverse;
  }

  .iconss::after {
    width: 15%;
    padding-bottom: 15%;
    background-color: #fae5d3;
    z-index: -1;
  }

  .iconss::before,
  .iconss::after {
    content: "";
    display: block;
    border-radius: 50%;
    position: absolute;
    top: 20%;
    left: 11%;
    transform: translate(-50%, -50%);
  }
  .iconss {
    font-size: 3.5rem;
    margin-bottom: 1rem;
  }
  .itme-text {
    padding-top: 5rem;
  }
  .item {
    padding: 3rem 0;
  }
  .testimonial {
    display: block;
    justify-content: center;
    align-items: center;
  }
  .review-item {
    width: 100%;
    margin-bottom: 2rem;
  }
  .gallery-image {
    flex: 0 0 calc(25% - 10px);
  }
  .cta {
    grid-template-columns: 1fr;
  }

  .cta-img-box {
    height: 32rem;
    grid-row: 1;
  }
  .cta-text-box {
    padding: 3.2rem;
  }
  .heading-secondary {
    font-size: 3rem;
  }

  .container {
    padding: 2rem 2rem;
  }
  #select-where {
    font-size: 1.5rem;
  }
  .btn {
    text-align: center;
    padding: 1.5rem 1.2rem;
  }
}
