@media (max-width: 84em) {
  .hero {
    max-width: 120rem;
  }

  .heading-primary {
    font-size: 4.4rem;
  }
}

/* Below 1200px (landsacape tablets) */
@media (max-width: 75em) {
  html {
    /* 9px /16px */
    font-size: 56.25%;
  }

  header {
    padding: 0 3rem;
  }

  .nav {
    gap: 3.2rem;
  }

  .hero {
    gap: 4.8rem;
  }

  .buttons {
    gap: 1.5rem;
  }

  .btn {
    padding: 10px 30px;
    font: 1rem;
  }

  h2 .heading-primary {
    font-size: 1.5rem;
  }

  .diet-l li {
    padding-bottom: 15px;
    /* display: flex; */
    font-size: 1.5rem;
    gap: 10px;
  }

  .diet-h {
    font-size: 2rem;
  }

  .meals-wrapper {
    gap: 3.6rem;
  }

  .works {
    font-size: 3rem;
  }
  .heading-primary {
    font-size: 3rem;
  }

  .featured {
    gap: 2.5rem;
  }
  .logos {
    gap: 4rem;
  }
  .logos img {
    height: 2.8rem;
  }
  .meal-title {
    font-size: 1.8rem;
  }
  .meal-attribute {
    gap: 0.5rem;
  }

  .testimonials-container {
    padding: 9.6rem 3.2rem;
  }

  .meal-content {
    padding: 2rem 3rem 3rem 3rem;
  }

  .headings {
    justify-content: center;
    text-align: center;
    margin: 0 auto;
  }

  .container {
    padding: 3rem 7rem;
  }

  .taxes-wrapper {
    gap: 5rem;
  }

  .iconss {
    max-width: 1rem;
    font-size: 3.5rem;
  }

  .iconss::after {
    width: 30%;
    padding-bottom: 30%;
    background-color: #fae5d3;
    z-index: -1;
  }

  .iconss::before,
  .iconss::after {
    content: "";
    display: block;
    border-radius: 50%;
    position: absolute;
    top: 13%;
    left: 21%;
    transform: translate(-50%, -50%);
  }
  .article-title {
    font-size: 2rem;
  }

  .cta-form select {
    font-size: 1.5rem;
  }

  .ctn2 {
    gap: 2rem;
  }
}
